@font-face {
    font-family: "uppercasefont";
    src: url(../CSS/Fonts/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2)format('woff');
    ;
}
@font-face {
    font-family: "logo";
    src: url(../CSS/Fonts/QldNNTtLsx4E__B0XQmWaXx0xKVu.woff2)format('woff');
}
*{
    font-family: uppercasefont;
}
